<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <link rel="stylesheet" href="static/styles.css" class="stylesheet">
</head>
<body>
    <section id="score-container">
        <div class="statistics">
            <label for="score">Score: </label>
            <div id="score">0</div>
        </div>
        <div class="statistics">
            <label for="high-score">High Score: </label>
            <div id="high-score">0</div>
        </div>
        <div class="statistics">
            <div>Game Number: </div>
            <div id="game-num">0</div>
        </div>
    </section>
    <section id="time-container">
        <label for="time">Time: </label>
        <div id="time">60</div>
    </section>
    {% for row in board %}
    <section class="row">
        {% for letter in row %}
        <div class="letter">
            {{letter}}
        </div>
        {% endfor %}
    </section>
    {% endfor %}
    <form>
        <label for="guess">Guess a Word:</label>
        <input type="text" id="guess" name="guess">
        <button id="guess-btn">Submit</button>
    </form>
    <section id="results"></section>

  
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="static/app.js"></script>  
</body>
</html>